* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px base for rem calculation */
  scroll-behavior: smooth;
  overflow-x: auto;
}

body {
  font-size: 1.4rem;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "微软雅黑", Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--el-text-color-regular);
  min-width: 1240px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #000000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  color: xtxColor;
}
